@font-face{
  font-family: 'dunkin';
  src: url("../fonts/Dunkin\ Sans.woff2") format('woff');
}

header{
  @include aling-items(flex,row,center,center,0);
  padding: 25px;
  background-image:  linear-gradient(45deg, rgba(11, 146, 209, 0.511), rgb(8, 117, 180));
  border-bottom: 3px solid rgba(168, 171, 173, 0.664);
  backdrop-filter: blur(5px);

  h1{
    font-family: 'dunkin',sans-serif;
    color: rgb(226, 226, 226);
  }
}


.img_logo_header{
  width: 100px;
}