*{
  box-sizing: border-box;}
#mainParagraph{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 1250px;
  font-size: 1.5rem;
  margin: 20px 20px;
  color: rgb(56, 107, 131);
  font-weight: 600;

  
}
.section{
  @include aling-items(grid,none,none,none,10px);
  max-width: 100%;
  grid-template-columns: 2fr 2fr;
  padding: 10px 30px 10px 60px;
  grid-template-areas:
  "text image";
}
.imagem_section{
  @include aling-items(flex,none,center,center,0);
  grid-area: image;
  max-height: 100%;
  max-width: 100%;
  padding: 10px 10px;

  
  img{
    @extend .imagem_section;
    border-radius: 20px;
    object-fit: contain;
    height: 100%;
  }
  
}


.text_section{
  @include aling-items(flex,column,center,center,0);
  padding: 20%;
  border-radius: 10px;
  grid-area: text;
  margin-bottom: 10px;

  div{
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
    max-width: 400px;
    color: rgb(0, 0, 0);
    
    h1{
      margin-bottom: 5px;
    }

    a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 4px;
    background-color: rgba(254, 255, 255, 0.486);
    border: 2px solid ;
    
    }
  }
}

@import "./sectionsExtras.scss";

@import "./mediaQuery.scss";