
.section01{
  background-color: rgb(156, 150, 138);
}
.section02{
  background-color: rgb(233, 231, 232);
}
.section03{
  background-color: rgb(158, 144, 118);
}
.section04{
  background-color: rgb(2, 97, 109);
}
.section05{
  background-color: rgb(244, 223, 238);
}
.section06{
  background-color: rgb(124, 169, 156);

}
